.long-rows{
    width: 17%;
}
.short-rows{
    width: 15%;
}

.popup{
    position:fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100vh;
    background-color: #FFF;

    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-inner{
    position: relative;
    padding: 320px;
    width: 100%;
    max-width: 640px;
    background-color: #FFF;
}

.popup-inner .close-btn{
    position: absolute;
    top:16px;
    right: 16px;
}